.cta{
    overflow: hidden;
    @apply bg-gradient-to-r from-[#6a5ff0] to-[#4a3cbf] hover:from-[#5a4bda] hover:to-[#3a2bad] text-white px-8 py-4 text-lg rounded-full shadow-lg hover:shadow-xl transition-all duration-300 transform hover:scale-105;
}
.cta::before {
    content: "";
    position: absolute;
    top: -77%;
    left: -210%;
    width: 100%;
    height: 80%;
  
    transform: rotate(125deg);
  
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 3s infinite cubic-bezier(0.4, 0, 0.6, 1);
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
    100% {
      left: 100%;
    }
  }
   